* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
/* header customization */
header {
    display: flex;
    font-weight: bold;
    text-align: right;
    padding: 20px 35px;
    align-items: center;
}
header h1 {
    width: 20%;
}
header a{
    text-decoration: none;
}
header nav {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
header nav ol li {
    display: inline;
}
header nav ol li a {
    padding: 10px 15px;
    font-size: 34px;
    text-align: right;
    color:black;
}

/* about me */
.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
#about-me h2 {
    font-size: 40px;
    padding: 10px 10px;
}
.me img {
    width: 600px;
    height: 600px;
}
#about-me .about {
    float: right;
    width: 55%;
    line-height: 1.3;
}
.about h2 {
    font-size: 40px;
    font-style: italic;
}
.about p {
    font-size: 26px;
    /*float: right;*/ 
}

/* contact me */
.contact {
    display: flex;
    justify-content: center;
}
.my-contact {
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.my-contact a {
    text-decoration: none;
    font-size: 26px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin-top: 5%;
}
br {
    clear: both;
}
/* my work */
.work a {
    text-decoration: none;
    font-size: 26px;
    margin-top: 2%;
}

#my-work h2 {
    font-size: 40px;
    font-style: italic;
    margin-top: 2%;
    display: flex;
    justify-content: center;
}